<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IOCopy/src/com/feiyangedu/sample/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.feiyangedu.sample.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\i067382\Documents\Learning\Java\IOCopyText\gbk.txt C:\Users\i067382\Documents\Learning\Java\IOCopyText\utf-8.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IOCopy"/>
</launchConfiguration>
